@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff3c5;
  --foreground: #232A38;
  --coverground: #E8D5C7;
  --hoverground: #5E4238;
  --covercolor: #e8aa00;
  --topcovercolor: #5E4238;
  --fc-button-bg-color: #D0BBAF;
  --fc-button-border-color: #D0BBAF;
  --fc-button-hover-bg-color: #dcac73;
  --fc-button-hover-border-color: #dcac73;
  --fc-button-active-bg-color: #cd8000;
  --fc-button-active-border-color: #cd8000;
  --button-font-color: #4B2E2E;
  --font-color: #cfbe9d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --coverground: #374151;
    --hoverground: #6B7280;
    --topcovercolor: #E2E8F0;
  }
}

body {
  color: var(--foreground);
  background: url(../images/background.jpeg);
  font-family: fantasy, sans-serif;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ccceff;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #2c2f7f;
    border-radius: 100vh;
    border: 3px solid #dee2ff;
    cursor: pointer;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #4c69fc;
  }
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 適用於 Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
